/* colors */
:root {
    --header-gray: #E6E6E6;
    --font-blue: #005677;
    --font-white: white;
    --titles-bgcolor: #C4C4C4;
}

/* body */
body {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* header */
header {
    background-color: var(--header-gray);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

header div.img-container {
    padding: 25px;
    text-align: center;
}

header h1, header h2 {
    margin: 0
}

header h2 {
    font-size: 25px;
    text-align: center;
}

header a {
    color: var(--font-blue);
}

/* main */
ul li span:first-child {
    font-weight: bold;
}

section#personal-data ul li span:first-child {
    font-style: italic;
}

section:not(#personal-data) ul li {
    display: flex;
    gap: 5px;
}

section:not(#personal-data) ul {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

section#about-me p {
    margin: 0
}

section#about-me ul {
    background-color: var(--header-gray);
    margin: 0 5% 0 5%;
    text-align: justify;
    padding: 25px;
}

/* footer */
footer {
    background-color: var(--font-blue);
    color: var(--font-white);
    padding: 9px; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    line-height: 84.69%;
    text-align: center;
}

/* general elements */
h1, h2 {
    color: var(--font-blue);
    background-color: var(--titles-bgcolor);
    padding: 10px;
    line-height: 84.69%;
    font-weight: 700;
    letter-spacing: 0.4ch;
}

h1 {
    text-align: center;
}

h2 {
    font-size: 18px;
}


a {
    color: var(--font-white);
}