<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/styles.css" />
    <title>CV HTML</title>
  </head>
  <body>
    <header>
      <div class="img-container">
        <img width="150px" src="../img/picture.jpeg" alt="profile-picture" />
      </div>
      <div>
        <h1>DANNA MARIN</h1>
        <a href="../index.html">
          <h2>Curriculum vitae</h2>
        </a>
      </div>
    </header>
    <main>
      <section id="about-me">
        <h2>SOBRE MI</h2>
        <ul>
          <li>
            <span>Español:</span>
            <p>
              Frontend Developer con 2 años de experiencia y amplio
              conocimiento en la creación desde cero de aplicaciones pesonalizadas y
              responsive en ambiente de React. Habilidad en el uso de
              herramientas UI populares, creación de landing page y testing
              automatizado. Competente en desarrollo backend usando Node.js,
              Express, Rest API y MongoDB. Capacitada para trabajar
              efectivamente en equipos interdisciplinarios y con una fuerte
              pasión por aprender y enfrentar nuevos desafíos.
            </p>
          </li>
          <li>
            <span>English:</span>
            <p>
              Frontend Developer with 2 years of experience with a strong
              background in creating responsive, custom applications from
              scratch in React environment. Skilled in styling with popular UI
              tools, landing page creation and automated testing. Proficient in
              backend development using Node.js, Express, Rest API, and MongoDB.
              Able to work effectively in interdisciplinary teams and possess a
              strong passion for learning and facing new challenges.
            </p>
          </li>
        </ul>
      </section>
    </main>
    <footer>
      +57 (300) - XXX - XXXX COLOMBIA
      <a href="https://www.instagram.com/danna.marin10/" target="_blank">
        <img src="../img/ico_instagram.png" alt="instagram" />
      </a>
      <a
        href="https://www.linkedin.com/in/danna-marin-mena-aa16311b6/"
        target="_blank"
      >
        <img src="../img/ico_linkedin.png" alt="linkedin" />
      </a>
    </footer>
  </body>
</html>
